* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.1px;
}

:root {
  --blue-color: #0077F7;
  --light-blue-color: #13D6FF;
  --purple-color: #9747FF;
}

body {
  background: #212226E5;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 40px 0;
}

.chart {
  background: #292829;
  width: 1200px;
  height: 400px;
  border-radius: 8px;
}

.but {
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: #71717A;
  background: #212226E5;
}
.but-active {
  color: #fff;
  background: var(--blue-color);
}

.valute {
  font-weight: 200;
}

.dat {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 100%;
  padding: 0 6px 5px 0;
}
.dat::after {
  position: absolute;
  top: -50%;
  left: 0;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.dat-blue::after {
  background: var(--blue-color);
}
.dat-light-blue::after {
  background: var(--light-blue-color);
}
.dat-purple::after {
  background: var(--purple-color);
}

li {
  list-style: none;
}

.tooltip {
  padding: 0 10px 10px !important;
}
.tooltip > div > div > div:nth-child(1) {
  display: none;
}
.tooltip > div > div > div:nth-child(2) {
  margin: 0;
}
.tooltip > div > div > div > div:nth-child(4) {
  display: none;
}